@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgba(0, 0, 0, 0.18);
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 4%;
}

header {
    width: 100%;
    height: 130px;
    z-index: 999;
    padding: 20px;
    background-color: white;
}

header .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 85px;
}

header nav.menu ul {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
}

nav.menu ul li a {
    color: black;
    text-decoration: none;
    transition: all 0.2s ease;
}

nav.menu ul li a:hover {
    color: rgba(0, 0, 0, 0.39);
}

/* Slider */

.background {
    background-size: cover;
}

.slider {
    height: 100vh;
    position: relative;
    padding-bottom: 100px;
    background-size: cover;
    backdrop-filter: blur(100px);
}

.slider .slider-container .slider-box {
    max-width: 1200px;
    width: 90%;
    height: 95%;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    overflow: hidden;
    opacity: 0;
    transition: 0.5s;
}

.slider .slider-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    filter: blur(5px);
}

.slider .slider-box::after {
    content: "";
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #000000a8, transparent);
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.slider .slider-box .texto-slider {
    position: absolute;
    left: 10%;
    top: 40%;
    color: white;
    z-index: 1;

    width: 80%;
    max-width: 600px;
}

.slider .slider-box .texto-slider h2 {
    font-size: 3rem;
    width: 120%;
}

@keyframes animaTexto {
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.slider .slider-box.ativo h2,
.slider .slider-box.ativo p {
    transform: translateY(60px);
    opacity: 0;
    animation: animaTexto 0.5s ease-in-out .7s   forwards;
}

.slider .slider-box.ativo h2 {
    animation-delay: 1s;
}

.slider-container .slider-box.ativo {
    opacity: 1;
    z-index: 11111;
}

/* Setas */

.setas {
    width: 100%;
    height: 100%;
    padding: 0 1%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.setas button {
    width: 40px;
    height: 40px;
    background-color: #fffdf229;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: all 0.2s ease;
}

.setas button i {
    color: white;
}

.setas button:hover {
    background-color: white;
}

.setas button:hover i {
    color: #000;
}

/* Butões de Navegação */

.btn-nav-box {
    width: 100%;
    padding: 40px;
    position: absolute;
    left: 0;
    bottom: 0px;
    z-index: 777777;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.btn-nav-box .btn-nav {
    width: 30px;
    height: 10px;
    border: 1px solid white;
    border-radius: 8px;
    cursor: pointer;
    transition: all .2s ease;
}

.btn-nav-box .btn-nav:hover {
    background-color: white;
}

.btn-nav-box .btn-nav.ativo {
    background-color: white;
}

/* Main */

main {
    background-color: white;
}

/* Modal */

dialog {
    height: 100%;
    width: 100%;
    margin: auto;
    border: none;
    border-radius: 10px;
    background-color: #fffdf200;
    backdrop-filter: blur(50px);
    transition: all 0.3s ease-in-out;
}

.organization {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

dialog .line {
    width: 2px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.500);
    border-radius: 1px;
    margin: 0 4%;
    transition:  all 0.3s ease;
}

dialog ul {
    list-style: none;
}

dialog li {
    margin: 5px 0;
    text-align: right;
}

dialog a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.600);
    transition: all 0.2s ease;
}

dialog a:hover {
    color: rgba(255, 255, 255, 0.800);
}

dialog .pags {
    color: white;
    font-size: 1.5rem;
}

.overfhidden {
    overflow: hidden;
}

/* Pages */

.pages-img {
    height: 90vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: x-large;
    text-align: center;
    color: white;
}

.pages-img .back-blur {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
}

.pages-img .text-pages {
    width: 55%;  
}

.page-img-1 {
    background-image: url(../assets/images/img1.png);
}

.page-img-2 {
    background-image: url(../assets/images/img2.png);
}

.page-img-3 {
    background-image: url(../assets/images/img3.png);
}

.page-img-4 {
    background-image: url(../assets/images/img4.png);
}

.page-img-5 {
    background-image: url(../assets/images/img5.png);
}

.page-img-6 {
    background-image: url(../assets/images/img6.png);
}

.page-img-7 {
    background-image: url(../assets/images/img7.png);
}

.pages-h2 {
    padding: 60px;
}

/* Nosso Grupo */

.grupo-organization {
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.grupo-organization .card {
    width: 200px;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
